<h3 class="auth-form-header">Вход</h3>
<div class="auth-container">
      @if (darkMode() === false) {
        <img src="logo.svg" alt="Maxim Technology">
    } @else {
        <img src="logo-dark.svg" alt="Maxim Technology">
    }
  <form
    id="authForm"
    class="auth-form"
    [formGroup]="authForm"
    (submit)="auth()"
  >
    <tui-textfield iconStart="@tui.mail">
      <label tuiLabel>Адрес эл. почты</label>
      <input tuiTextfield formControlName="identity" />
    </tui-textfield>
    <tui-error
      formControlName="identity"
      [error]="[] | tuiFieldError | async"
    />
    <tui-textfield iconStart="@tui.key-round">
      <label tuiLabel>Пароль</label>
      <input tuiTextfield type="password" formControlName="password" />
      <tui-icon tuiPassword />
    </tui-textfield>
    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"
    />
  </form>
  <div class="auth-form-control">
    <button
      tuiButton
      class="auth-button"
      type="submit"
      form="authForm"
      [disabled]="authForm.invalid || isLoading()"
      [loading]="isLoading()"
    >
      Войти
    </button>
    <tui-error [error]="error()" />
  </div>
</div>
<span class="app-version">Версия приложения: {{ appVersion }}</span>
